[
    {
        "site":"The Wall Street Journal",
        "url":"https://feeds.a.dj.com/rss/WSJcomUSBusiness.xml"
    },
    {
        "site":"RBC",
        "url":"http://static.feed.rbc.ru/rbc/logical/footer/news.rss"
    },
    {
        "site":"Mining.com",
        "url":"https://www.mining.com/feed/rss"
    }
]